@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Manage", null)">
                    <span class="fa fa-user fa-lg"></span>
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out fa-lg"></span></a></li>
        </ul>
    }
}
